.main-content div.aboutImage {
    background: none no-repeat 50% 50%;
    width: auto;
    height: auto;
    text-align: center;
}

.main-content div.aboutImage div.desc {
    padding: 15px;
    text-align: center;
    color: slategrey;
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: yellowgreen;
}