.background-body {
    color: red;
    background-image: url(/img/cute_doodles_hand_drawn_pattern.jpg);
    background-repeat: repeat;
    background-position: right top;
    background-attachment: scroll;
}

.dropbtn{
    background-color: violet;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: thistle;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rosybrown;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: tomato;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightblue;
}

.overflow-style {
    margin-top: 50px;
    margin-left: 100px;
    background-image: url(pokemon.jpg);
    background-position: center;
    background-size: contain;
    width: 500px;
    height: 200px;
    border: 1px dotted black;
    overflow: scroll;
    color: tomato;
}

.banner {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    background: lightseagreen;
}

h1 {
    color: tomato;
    font-size: 30px;
    font-family: Cambria;
    text-align: center;
    text-decoration: tomato;
}

ul {
    margin: 10px;
    padding: 10px;
}

.navi-ul {
    top: 10px;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position: sticky;
  }
  
  .navi-ul li {
    float: left;
  }
  
  .navi-ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navi-ul li a:hover {
    background-color: #111;
  }

.remarks-ul {
    list-style: circle;
    vertical-align: bottom; 
}

p {
    color: white;
    font-size: 16px;
}

th, td {
    background-color: indianred;
    border: 1px solid green;
    color: white;
}

th, td {
    padding: 15px;
    vertical-align: bottom;
}

.hover-blue tr:hover td, 
.hover-blue tr:hover th {
    background-color:lightseagreen;
}

/*
.odd-orange tr:nth-child(odd) td,
.odd-orange tr:nth-child(odd) th {
    background-color: orange;
}*/

.table-fav {
    margin-left: 100px;
    border-collapse: collapse;
    margin-top: 100px;
    width: 80%;
}

.hover-p {
    visibility: hidden;
    background-color: tomato;
    padding: 20px;
    width: 500px;
    margin-left: 100px;
  }
  
  div:hover + p {
    visibility: visible;
  }